.nav{
  background-color: #d3effc;
  width: 25%;
  font-family: trebuchet ms;
  font-size: small
}

.nav:hover{
  transform: scale(0.9);
  transition: all ease 500ms;
  background-color: #49668A;
  color: white
}

body{
  background: url('graphics/pattern2.jpg');
  background-size: cover
}

.block {
  text-align: center;
  align-content: center;
  border: 8px solid #d3effc;
  padding: 30px;
  background-color:white;
  opacity: 0.7;
}

.block2 {
  text-align: center;
  align-content: center;
  border: 8px solid white;
  padding: 30px;
  background-color:#d3effc;
  opacity: 0.7;
}

.block3 {
  text-align: center;
  align-content: center;
  border: 8px solid white;
  padding: 30px;
  background-color:#D3F7FC;
  opacity: 0.7;
}

.block4 {
  text-align: center;
  align-content: center;
  border: 8px solid white;
  padding: 30px;
  background-color:#D3EEFC;
  opacity: 0.7;
}

.block5 {
  text-align: center;
  align-content: center;
  border: 8px solid white;
  padding: 30px;
  background-color:#D3E3FC;
  opacity: 0.7;
}



label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  padding: 3px;
}

input {
  height: 20px;
  margin-left: 10px;
}

.infoForm {
  font-family: trebuchet ms;
  text-align: center;
  width: 50%;
  border: 8px solid #d3effc;
  margin-left: 24%;
  margin-right: 24%;
  padding: 2%;
  background-color:white;
  display: inline-block
}

p{
  font-family: sans-serif;
  font-weight: bold
}

h1{
  font-family: trebuchet ms
}

h2{
  font-family: trebuchet ms
}

.feature{
  width: 20%;
  margin: 5%;
  padding: 2%;
  background-color: #D3F7FC;
  border: 3px solid #739499;
  transition: transform 0.2s
}

.feature:hover{
  width: 20%;
  margin: 5%;
  padding: 2%;
  background-color: #D3F7FC;
  border: 3px solid #739499;
  cursor: pointer;
    transform:scale(0.95);
    opacity: 0.8
}

a{
  text-decoration: none;
  color: inherit
}

.creator{
  font-style: italic;
  
}

.button {
  background-color: #D3F7FC; /* Green */
  border: none;
  color: black;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}